body {
    font-family: 'Roboto', sans-serif;
    color: slategray;
}

.background-wrap {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 300%;
}


/* Containers */

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-image: linear-gradient(to right, #f05f40, white, #f05f40);
    border-color: red;
}

.welcome-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-container {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Page headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.about,
.projects,
.products,
.contact,
.work,
.page-header {
    margin-bottom: 25px;
}


/* Card Containers*/

.about,
.projects,
.products,
.contact,
.work {
    background: radial-gradient(rgba(240, 95, 64, 0.9), rgba(0, 0, 0, 0.1));
    border-radius: 25px;
    text-align: center;
    color: white;
}

.products {
    padding: 20px;
}

.products i {
    margin: 20px;
    font-size: 45px;
    line-height: 45px;
}

.products .btn {
    background: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}


/* Block Dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--short {
    width: 35px;
}


/*---------------------------------------------------------<< Section Specific CSS >>------------------------------------------*/


/* --------------------------------------------------------- Navbar area -----------------------------------------------*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    padding:0;
    border: 0;
    height: 80px;
    background-color: rgba(30, 31, 35, 1);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand img {
    font-weight: bold;
    margin:0;
    height:80px;
}

.navbar .navbar-nav a {
    font-weight: bold;
}
.cv-button a{
    margin-right:100px;
}

/* CV Download button will display in different locations depending on user device */
@media only screen and (max-width: 800px) {
  .cv-button {
    display:none;
  }
}
@media only screen and (min-width:800px){
    .cv-button-mobile{
        display:none;
    }
}
/* --------------------------------------------Welcome area---------------------------------------- */
.profile {
    border-radius: 50%;
}

.description{
    font-size:80%;
    margin:10px 50px 10px 50px;
}
/* -------------------------------------------Projects area ---------------------------------------- */
.rounded-image{
    border-radius:50%;
    height:200px;
    width:200px;
}

/* -------------------------------------------What I Offer area ---------------------------------------- */
.product-image{
    max-width:100%;
    height:auto;
    border-radius: 15%;
}

.feature{
    margin-top:20px;
}
/* ------------------------------------------Work With Me (contact) ----------------------------------- */
.contact-img{
    max-width:100%;
    height:auto;
    margin-bottom:30px;
    padding:0;
}
.contact-form{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
}
.input{
    width:80%;
}

/* ---------------------------------------------- Footer ---------------------------------------------- */
.footer{
    bottom: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-color: rgba(30, 31, 35, 0.8);
    color:white;
    z-index: 1;
}
.social-links{
    margin:0;
    padding-bottom: 15px;
}
.social-links li a i{
    width:32px;
    height:32px;
    padding:12px 0;
    border-radius:50%;
    font-size:13px;
    margin-right:10px;
    line-height: 7px;
    text-align:center;
    color: #fafafa;
    background: rgba(240, 95, 64, 1);
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.social-links li a i:hover{
    background: red;
}
/*-------------------------------------------- Jumbotron Headings ---------------------------------------------*/
.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: white;
    margin: 25px 0;
    font-size: 150%;
}
/*------------------------------------------------- Buttons ---------------------------------------------------*/
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}
/*-------------------------------------------------------------------- Animation Section ------------------*/
/*This '.feature' animation is originally from W3 Schools */
@media only screen and (min-width: 1024px) {
    .feature {
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
    }
    .feature:hover,
    .feature:focus,
    .feature:active {
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

/* hover linear gradient */
.about-container:hover,
.project-container:hover,
.product-container:hover,
.work-container:hover {
    background: linear-gradient(0, rgba(240, 95, 64, 0.0), rgba(240, 95, 64, 0.3), rgba(240, 95, 64, 0.0));
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
/* ---------------------------------------------- Modal Section --------------------------------------*/
.modal {
    color: black;
    height: 90vh;
    background: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: slategray;
}

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 40px 20px;
}

.project {
    margin-bottom: 30px;
}