/* Sections:
1 - General CSS
2 - Containers
3 - Headers
4 - Card (section) Containers
5 - Dividers
6 - Area Specific CSS
7 - Jumbotron
8 - Buttons
9 - Animation Section
10 - Modal Specific
11 - Keyframes
*/
/*----------------------------------------General CSS -----------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
    color: slategray;
    text-decoration: none;
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 300%;
}
img{
    border:1px solid rgb(0, 0, 0);
}
/*back to top button (custom but created after reading W3Schools (details in readme)*/
.back-to-top i{
    font-size:30px;
    width:30px;
    text-align: center;
    position:fixed;
    bottom:25px;
    right:25px;
    color:#fafafa;
    background:rgba(240, 95, 64, 1);
    border-radius:50%;
    z-index:1;
}
/* Social icons sidebar desktop only (custom but created after reading W3Schools (details in readme) */
@media only screen and (min-width:1350px){
.social-bar {
    position: fixed;
    top: 35%;
    list-style-type: none;
}
.social-bar i{
    display: block;
    width:50px;
    height:50px;
    padding:12px 0;
    border-radius:50%;
    font-size:30px;
    margin-left:10px;
    margin-bottom:50px;
    text-align:center;
    color: #fafafa;
    background: rgba(240, 95, 64, 1);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.social-bar a{
    text-decoration: none;
}
.social-bar i:hover {
    background:#fafafa;
    color: rgba(240, 95, 64, 1);
    width:110%;
}
}

@media only screen and (max-width:1349px){
    .social-bar {
        display:none;
    }
}

.description{
    width:80%;
    font-size:90%;
    margin:0 auto;
}

@media only screen and (min-width:2200px){
    .description{
        font-size: 100%;
    }
}

/* ---------------------------------------------Containers--------------------------------- */
.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-image: linear-gradient(to right, rgba(0, 21, 107, 0.6),black 33%, black 66%, rgba(0, 21, 107, 0.6));
    border-color: rgba(240,95,64,0.6);
    color:#fafafa;
}

.welcome-container {
    height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* --------------------------------------Page headers----------------------------------- */
.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.about,
.skills,
.projects,
.products,
.contact,
.work,
.page-header {
    margin-bottom: 25px;
}

/*------------------------------------ Card Containers-------------------------------------*/
.about,
.skills,
.projects,
.products,
.contact,
.work {
    background: linear-gradient(90deg, rgba(0,0,0,0),rgba(0, 0, 0, 0.8)7%,rgba(0, 0, 0, 0.8)93%,rgba(0,0,0,0));
    border-radius: 25px;
    text-align: center;
    color: #fafafa;
    padding-top:50px;
    padding-bottom:50px;
}

.products {
    padding: 20px;
}

.products i {
    margin: 20px;
    font-size: 45px;
    line-height: 45px;
}
/* -------------------------------------------Block Dividers-------------------------------------- */
.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--short {
    width: 35px;
}
/* --------------------------------------------------------- Navbar area -----------------------------------------------*/
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    padding:0;
    border: 0;
    height: 105px;
    background-color: rgb(0, 0, 0);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand img {
    font-weight: bold;
    margin:0;
    padding:0;
    min-width:164px;
    height:auto;
}

.navbar-collapse{
    background:rgba(0, 0, 0, 1);
}

.navbar .navbar-nav a {
    font-weight: bold;
}
/*Link hover colors*/
.home-nav,
.contact-nav,
.about-nav,
.skills-nav,
.project-nav,
.what-do-i-offer-nav,
.work-nav{
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.home-nav:hover,
.contact-nav:hover,
.about-nav:hover,
.skills-nav:hover,
.project-nav:hover,
.what-do-i-offer-nav:hover,
.work-nav:hover{
    background: rgba(0, 21, 107, 0.8);
}

.coding-button{
    margin-right:50px;
}
/* CV Download button will display in different locations depending on user device
    coding-button is navbar button, -mobile is located below CV button. */
@media only screen and (max-width: 768px) {
    .coding-button {
        display:none;
    }
}

@media only screen and (min-width:769px){
    .coding-button-mobile{
        display:none;
    }
}
/* --------------------------------------------Welcome area---------------------------------------- */
.profile {
    border-radius: 50%;
}
.welcome-callout{
    margin-top: 35%;
    height:85vh;
    width: 90vw;
}

@media only screen and (max-width:425px){
    .welcome-container{
        margin-top:20%;
    }
    .navbar-brand img{
        max-width:60%;
    }
}
/*--------------------------------------------About Me----------------------------------------------*/
.social-icon{
    margin-top:30px;
}
.social-icon i{
    font-size:150%;
    color:#fafafa;
}
.social-icon a{
  color:#fafafa;
  text-decoration: none;
  font-size:x-large;
}
.about-me-text{
    text-align: center;
    width:80%;
    margin:0 auto;
}
#about img{
    max-width:100%;
}
/* -------------------------------------------Skills area ---------------------------------------- */
.carousel{
    width:100%;
}

.carousel img{
    height:230px;
    border-radius: 5%
}

.caption{
    width:80%;
    margin: 0 auto;
}
/* Styling the bootstrap left and right buttons */
.carousel-control-prev-icon {
    margin-bottom: 60%;
    background-size: 150%;
}

.carousel-control-next-icon {
    margin-bottom: 60%;
    background-size: 150%;
}
/* -------------------------------------------Projects area ---------------------------------------- */
.rounded-image{
    border-radius:50%;
    height:200px;
    width:200px;
}
/* -------------------------------------------What I Offer area ---------------------------------------- */
.product-image{
    width:80%;
    height:auto;
    border-radius: 15%;
}

.feature{
    margin-top:20px;
    font-size: larger;
}
/* ------------------------------------------Work With Me (contact) ----------------------------------- */
.contact-img{
    max-width:80%;
    border-radius:5%;
    height:auto;
    margin-bottom:30px;
    margin-top:50px;
}

.contact-form{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    display:block;
    justify-content: center;
    align-content: center;
}

.input{
    width:80%;
}
/* ---------------------------------------------- Footer ---------------------------------------------- */
.footer{
    bottom: 0;
    left: 0;
    padding-top:40px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    z-index: 1;
}

.download{
    margin-top: auto;
    margin-bottom: auto;
}

.download i{
    text-decoration: none;
    color: white;
}
/* Used same format as resume tutorial for social links*/
.social-links{
    margin:0;
    padding-bottom: 15px;
}

.social-links li a i{
    width:32px;
    height:32px;
    padding:12px 0;
    border-radius:50%;
    font-size:13px;
    margin: 0 10px 0 0;
    line-height: 7px;
    text-align:center;
    color: #fafafa;
    background: rgba(240, 95, 64, 1);
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover{
    background: green;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}
/*-------------------------------------------- Jumbotron Headings ---------------------------------------------*/
/* Jumbotron thanks for bootstrap */
.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:30%;
}

.jumbotron h1 {
    color: #fafafa;
    font-weight: bold;
    text-align:center;
    margin-bottom: 30px;
    letter-spacing: 15px;
}

.jumbotron .lead {
    color: #fafafa;
    margin: 25px 0;
    font-size: 150%;
}
/*------------------------------------------------- Buttons ---------------------------------------------------*/
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}
/*change colors due WCAG compliance */
.btn-info{
    background-color:#00D4F5;
    color:#000000;
}

.btn-success{
    color: #000000;
    background-color: #41B45C;
}

.btn--red {
    color: #000000;
    background-color: #F26D50;
    border-color: #F26D50;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #000000;
    border-color: #F26D50;
    color: #F26D50;
}
/*-------------------------------------------------------------------- Animation Section ------------------*/
/*This '.feature' animation is based on scale transform from W3 Schools (w3schools.com/css/css3_2dtransforms.asp)*/
@media only screen and (min-width: 1024px) {
    .feature
    .social-icon {
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(240, 95, 64, 0.5);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
    }
    .feature:hover,
    .feature:focus,
    .feature:active {
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .social-icon:hover,
    .social-icon:focus,
    .social-icon:active{
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
/* hover background glow */
.about-container,
.skill-container,
.project-container,
.product-container,
.work-container {
    background: rgba(0, 21, 107, 0.2);
    transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
}

.about-container:hover,
.skills-container:hover,
.project-container:hover,
.product-container:hover,
.work-container:hover {
    background: rgba(0, 21, 107, 0.3);
}
/*entry animation from Animista (keyframes in keyframe section)*/
.slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 4s cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
	        animation: slide-in-blurred-left 4s cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
}
/* ---------------------------------------------- Modal Section --------------------------------------*/
/* This feature is from Bootstrap (getbootstrap.com/docs/4.0/components/modal/) */
.modal {
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}

.modal-dialog {
    top:5%;
}

.modal-content {
    background-color: black;
    color: #fafafa;
    text-align:center;
}

audio{
    display:none;
}
/* same progress bars used in Code Institute Resume walkthrough*/
.progress {
    position: relative;
    height: 25px;
    margin-bottom: 10px;
}

.progress-type {
    position: absolute;
    top:10px;
    left: 0px;
    font-weight: 700;
    font-size:110%;
    padding: 3px 30px 2px 10px;
    color: #000000;
    background-color: rgba(25, 25, 25, 0.2);
}

.about-me-modal,
.progress-section {
    margin: 40px 20px;
}

.project {
    margin-bottom: 30px;
}
/* "Timeline" from Code Institute Resume*/
.history-items{
    margin-bottom:0px;
}

.timeline-item{
    padding: 4em 2em 0em 2em;
    position: relative;
    color:#fafafa;
    border-left: 1px solid;
}

.timeline-item:hover h4{
    transform: rotate(3deg);
}

.timeline-item p{
   padding:0;
   margin:0; 
}

.timeline-item:before {
    content: attr(data-dates);
    position:absolute;
    left:2.5em;
    top:3em;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding:0;
    margin:0;
}

.timeline-item:after{
    width:12px;
    height:12px;
    display:block;
    top:3.4em;
    position: absolute;
    left:-6px;
    border-radius: 50%;
    content: '';
    background: #fafafa;
}
/* Keyframes (animista.net) */
@keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
                transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
                filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
    }
}